/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/logs/*
/app/config/config_dev.yml
/app/config/config_prod.yml
/app/config/parameters_dev.yml
/app/config/parameters.yml
!app/logs/.gitkeep
/app/phpunit.xml
/bin/
/composer.phar
/vendor/
/web/bundles/
/uploads/
*.DS_Store
