<!DOCTYPE html>
<html>
    <body>
        {% block body %}
            <div style="background; lightgray;">
                {% block content %}{% endblock %}
            </div>
        {% endblock %}
    </body>
</html>
